

#nav{
    border: 1px solid rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    margin: auto;
    display: flex;
    /* overflow: hidden; */
    background-color: rgb(237, 155, 83);
    position: fixed;
    top: 0;
    justify-content:space-evenly;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#nav>#logo{
     width: 120px; 
     height: 100%;
     border: 1px solid rgb(255, 255, 255);
     display: block;
}
#nav>#logo>img{
    width: 100%;
    height: 100%;

}
#search{
  background-color:  rgb(237, 155, 83);
    width: 50%;
    margin-top: 20px;
    height: 40px;
   /* padding-top: 20px; */
}
#login{
    border: 0px solid rgb(242, 187, 109);
    width: 7%;
    height: auto;
    display: flex;
}
a{
text-decoration: none;
color: rgb(255, 255, 255);
}
a:hover{
  text-decoration: none;
  color: rgb(72, 48, 48);
  }
#login>h1{
    color: rgb(0, 17, 255);
    background-image: conic-gradient(from 90deg, red, yellow, green);
}
#search>input{
    width: 70%;
    height: 80%;
  border: 1px solid white;
    border-radius: 25px 0px 0px 25px;
    font-size: 15px;
}
#search>button{
    width: 15%;
    height: 93%;
   
    border-radius: 0px 25px 25px 0px;
    border: 1px solid rgb(255, 255, 255);
}

/* #dropdown{
    border: 1px solid brown;
    padding-top: 30px;
    /* width:2%; */
 

.dropbtn {
  background-color:  rgb(237, 155, 83);
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    /* border: 1px solid black; */
    border-radius: 10px;
    
  }
  /* .dropbtn:hover{
    background:  rgb(237, 155, 83);
  } */
  .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    font: optional;
    font-size: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(255, 15, 15);
    color: white;
}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
   color: black;
}



#gif{
  display: block;
  margin: auto;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  border: 1px solid #ffffff;
  position: fixed; 
  top: 20vh;
  overflow: hidden;
 
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }
 #gif >img{
width:100%;
 }
 #contactdiv{
  display: block;
  background-image:url("https://cdn.pixabay.com/photo/2014/09/14/18/04/dandelion-445228__480.jpg");
  text-align: left;
  width: 35%;
  height: 70vh;
  /* text-align: center; */
  margin-left: 33%;
  margin-right: 32%;
  border: 1px solid #ffffff;
  position: fixed; 
  top: 20vh;
  overflow: scroll;
 padding-left: 3vw;
  border-radius: 10px;
 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }
 #contactdiv>h1, #contactdiv>h3{
  color: rgb(59, 20, 20);
 }
 #contactdiv>input{
  padding: 2vh;
  margin: 1vh;
  width: 70%;
  border: 2px solid green;
  border-radius: 4px;
  background-color: rgb(249, 249, 249);
 }
 #Fsubmit {
  font-size: 20px;
  margin: 1vh;
  padding: 1vh;
  background-color: rgb(55, 255, 0);
  border: 0px solid white;
  border-radius: 5px;
  color: white;
 }
 #Fremove{
  font-size: 20px;
  margin: 1vh;
  border: 0px solid white;
  border-radius: 5px;
  padding: 1vh;
  color: white;
  background-color: rgb(255, 0, 0);
 }
 #slideimage{
  width: 70%;
  margin: auto;
 margin-top: 16vh;
  border: 1px solid rgb(250, 250, 250);
  height: 70vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 }
 #slideimage>img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
 }  
 .responsive {
  width: 100%;
  height: auto;
}
 .heading{
  text-align: center;
  font-size: 40px;
  font-family: Cambria, Cochin,Georgia, Times, 'Times New Roman', serif;
 }

 #dashbook,#dashstationary,#dashtech, #box{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  width: 90%;
  margin: auto;
  column-gap: 1%;
  row-gap: 10px;

 }
 #dashbook,#dashstationary,#dashtech> h1{
  text-align: center;
 }
#dashbook>div,#dashstationary>div ,#dashtech>div ,#box>div{
  width: 100%;
  height: auto;
  color: #1987ee;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#dashbook>div:hover,#dashstationary>div:hover ,#dashtech>div:hover ,#box>div:hover{
  background-color: rgb(251, 234, 191);
  color: rgb(0, 0, 0);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(35, 162, 190) 0px 0px 0px 3px;

}
#dashbook>div>img ,#dashstationary>div>img ,#dashtech>div>img ,#box>div>img{
  width: 100%;
  height: 40%;
  border-radius: 5px;
}
/* #dashbook>div>img:hover ,#dashstationary>div>img:hover ,#dashtech>div>img:hover ,#box>div>img:hover{
  transform: scale(1.05); 
} */
.buy{
 margin: 10px;
  height: auto;
  font-size: 15px;
  background-color: rgb(37, 228, 231);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  padding: 1vh;
  border-radius: 4px;
}
.buy:hover{
  background-color: rgb(53, 227, 53);
}
.cart {
  margin: 10px;
   height: auto;
   font-size: 15px;
   border-radius: 4px;
   color: white;
   background-color: rgb(255, 127, 23);
   border: 1px solid rgb(255, 255, 255);
   text-align: center;
   padding: 1vh;
 }
 
.cart:hover{
  background-color: rgb(46, 205, 38);
  color: white;
}
#comment{
  border: 1px solid black;
  width: 90%;
  margin: auto;
}
 #footer{

  width: 100%;
  height: 18vh;
  background-color: #000000;
  border: 1px solid rgb(255, 255, 255);
 } 
 #footer>div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 }
 #fa {
  padding: 20px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  border-radius: 48%;
  text-decoration: none;
  margin: 5px 2px;
  opacity: 1.0;
}
#fa:hover {
  /* padding: 22px; */
  font-size: 30px;
  opacity: 1.5;
  /* width: 50px;
  text-align: center;
  border-radius:50%;
  text-decoration: none;
  margin: 5px 2px; */
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #ffffff;
  color: rgb(17, 34, 218);
}
.fa-youtube {
  background: #f32525;
  color: rgb(230, 230, 230);
}
.fa-google {
  background: #ffffff;
  color: rgb(75, 103, 206);
}
/* .fa:hover {
  opacity: 0.9;
} */
 @media screen and (min-width:1000px) and (max-width:1100px){
#gif{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
 }
 #dashbook ,#dashstationary ,#dashtech ,#box{
  grid-template-columns: repeat(4,1fr);
 }
 @media screen and (min-width:700px) and (max-width:999px){
  #gif{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  #slideimage{
    height: 60vh;
    margin-top: 8vh;
  }
  #dashbook ,#dashstationary ,#dashtech ,#box{
    grid-template-columns: repeat(3,1fr);
   }
   #dashbook>div ,#dashstationary>div ,#dashtech>div ,#box>div{
    height: 600px;
   }
   #login{
    display: none;
   }
   #dashbook>div>img ,#dashstationary>div>img ,#dashtech>div>img ,#box>div>img{
    width: 100%;
    height: 40%;
  }
  #footer{
    height: 12vh;
  }
  #contactdiv{
    width: 60%;
  height: 70vh;
  /* text-align: center; */
  margin-left: 20%;
  margin-right: 20%;
  }
}
@media screen and (min-width:450px) and (max-width:699px){
  #gif{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  #slideimage{
    height: 40vh;
  }
  #dashbook ,#dashstationary ,#dashtech ,#box{
    grid-template-columns: repeat(2,1fr);
   }
   #login{
    display: none;
   }
   #dashbook>div>img ,#dashstationary>div>img ,#dashtech>div>img ,#box>div>img{
    width: 100%;
    height: 30%;
  }
  #footer{
    height: 14vh;
  }
  #contactdiv{
    width: 70%;
  height: 70vh;
  /* text-align: center; */
  margin-left: 15%;
  margin-right: 15%;
  }
}
@media screen and (min-width:100px) and (max-width:499px){
  #gif{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  
  }
  #cartIcon{
    display: none;
  }
  #slideimage{
    height: 20vh;
    top:5vh
  }
  #dashbook ,#dashstationary ,#dashtech ,#box{
    grid-template-columns: repeat(2,1fr);
   }
   #login{
    display: none;
   }
   #dashbook>div>img ,#dashstationary>div>img ,#dashtech>div>img ,#box>div>img{
    width: 100%;
    height: 30%;
  }
  #footer{
    height:auto;
  }
  #contactdiv{
    width: 80%;
  height: 70vh;
  /* text-align: center; */
  margin-left: 7%;
  margin-right: 13%;
  }
}
 